<!DOCTYPE html>
<html lang="kor" data-ng-app="KaisaApp" data-ng-controller="KaisaController">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="expires" content="0" />
<meta http-equiv="pragma" content="no-cache" />
<meta name="robots" content="index,follow">
<title>Kaisa</title>
<meta name="keywords" content="Kaisa,가이사,카이사,가평,홈페이지">
<meta name="description" content="Kaisa,가이사,카이사,가평,홈페이지">
<meta property="og:type" content="website">
<meta property="og:title" content="Kaisa">
<meta property="og:description" content="Kaisa,가이사,카이사,가평,홈페이지">
<meta property="og:image" content="http://kaisa.co.kr/img/common/logo.png">
<meta property="og:url" content="http://kaisa.co.kr">
<meta name="fragment" content="!">
<meta name="viewport" content="width=device-width, user-scalable=no">
<link rel="shortcut icon" href="/img/favicon.ico?ver=0.1" type="image/x-icon">
<link rel="stylesheet" href="/css/common.css" type="text/css">
<link rel="stylesheet" href="/css/ex/apiMake.css" type="text/css">
<link rel="stylesheet" href="/css/ex/layerDatepicker.css" type="text/css">
<!--[if lt IE 10]>
<link rel="stylesheet" href="/css/old_browser.css" type="text/css" />
<![endif]-->
<!--[if IE 8]>
<script src="/js/lib/es/es5-shim.min.js"></script>
<![endif]-->
<script src="/js/lib/jquery/jquery-1.11.1.min.js"></script>
<script src="/js/lib/angular/angular.min.js"></script>
<script src="/js/min/kaisa.js"></script>
<script src="/js/module/kaisaLayerDatepicker.js"></script>
<script src="/js/controller/ex/apiMake.js"></script>
</head>
<body data-ng-controller="BodyController">
	<div data-kaisa-header="true"></div>
	<div data-kaisa-menu="true"></div>
	<div id="container">
		<div id="apiMake">
			<div class="wrap">
				<div data-study-menu="true"></div>
				<form data-ng-submit="api.make()">
					<h2>Api Name</h2>
					<input type="text" data-ng-model="api.name" />

					<h2>Excel Clone</h2>
					<ol class="guide">
						<li>엑셀에서 텍스트로 붙여넣을때 2번째 셀은 1번일경우 서브 element 이다.(array or object 의 하위노드만 수동으로 작성)</li>
						<li>number는 long 으로 변화한다.</li>
					</ol>

					<textarea data-ng-model="api.data"></textarea>

					<h2>Result 1depth</h2>
					<ol class="guide">
						<li>1. element = apiName + (request or responce)</li>
						<li>2. complexType > complexContent > extension(LtonCommonVO) > sequence > element</li>
					</ol>
					<textarea data-ng-model="api.result" class="resultTextarea"></textarea>

					<h2>Result 2depth</h2>
					<ol class="guide">
						<li>1. 3depth 부터는 생성안됨</li>
					</ol>
					<textarea data-ng-model="api.resultSub" class="resultTextarea sub"></textarea>

					<div class="btnWrap">
						<button type="submit" class="on">Make</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="layerDatePicker" data-layer-date-picker="true" data-ng-style="crawler.date.style" data-model="crawler.date" data-ng-show="crawler.date.active">
		<div data-layer-date-picker-calendar="true"></div>
	</div>
	<div data-kaisa-footer="true"></div>
</body>
</html>