<!DOCTYPE html>
<html lang="kor" data-ng-app="KaisaApp" data-ng-controller="KaisaController">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="expires" content="0" />
<meta http-equiv="pragma" content="no-cache" />
<meta name="robots" content="index,follow">
<title>Kaisa</title>
<meta name="keywords" content="Kaisa,가이사,카이사,가평,홈페이지">
<meta name="description" content="Kaisa,가이사,카이사,가평,홈페이지">
<meta property="og:type" content="website">
<meta property="og:title" content="Kaisa">
<meta property="og:description" content="Kaisa,가이사,카이사,가평,홈페이지">
<meta property="og:image" content="http://kaisa.co.kr/img/common/logo.png">
<meta property="og:url" content="http://kaisa.co.kr">
<meta name="fragment" content="!">
<meta name="viewport" content="width=device-width, user-scalable=no">
<link rel="shortcut icon" href="/img/favicon.ico?ver=0.1" type="image/x-icon">
<link rel="stylesheet" href="/css/common.css" type="text/css">
<link rel="stylesheet" href="/css/ex/batchCheck.css" type="text/css">
<!--[if lt IE 10]>
<link rel="stylesheet" href="/css/old_browser.css" type="text/css" />
<![endif]-->
<!--[if IE 8]>
<script src="/js/lib/es/es5-shim.min.js"></script>
<![endif]-->
<script src="/js/lib/jquery/jquery-1.11.1.min.js"></script>
<script src="/js/lib/angular/angular.min.js"></script>
<script src="/js/min/kaisa.js"></script>
<script src="/js/controller/ex/batchCheck.js"></script>
</head>
<body data-ng-controller="BodyController">
<div data-kaisa-header="true"></div>
<div data-kaisa-menu="true"></div>
<div id="container">
	<div id="batch">
		<div class="wrap">
			<div data-study-menu="true"></div>
			<div class="batchWrap">
				<div class="leftWrap">
					<h2>Batch Check</h2>
					<ul class="tab">
						<li ng-repeat="i in site.base" data-ng-class="{on : site.idx == i.site_no}" data-ng-click="site.idx = i.site_no">{{i.site_nm}}</li>
					</ul>
					<div class="con" data-ng-show="site.idx == 1">
						<h3>{{site.base[site.idx - 1].site_nm}}</h3>
						<ol>
							<li>
								<b>ElevenStGoodsInfo_Batch2</b><br />
								11st_Goods_batch : 482 (인터넷 상품)<br />
								mergeYn : 'Y', rowNum : null, batchId : 482 , rowNum : ?<br />
								11st_Goods_batch -> Batch Shell -> Batch Java -> batchLogSctCd(ES-G0008) -> Hang Up 방지 코드( 서버시간 (yyyyMMddHH24MISS) , killTime(70))
								<br />
								배치 실행중 여부 & error 체크(9999 에러, 0000 성공) -> 배치 시작<br />
								elevenStGoodsInfoBatchMgr.startElevenStGoodsBatch(mergeYn, rowNum, batchId, batchLogSctCd)
							</li>
							<li>
								<b>startElevenStGoodsBatch</b><br />
								batchLogSctCd : ES-G0008,<br />
								(403)mrgnRtParam 백화점 기준 마진율 : 3%, srcgMdmCdParam : 31, siteNoParam : 4<br />
								(482)mrgnRtParam 인터넷 기준 마진율 : 6%, srcgMdmCdParam : 21, siteNoParam : 5<br />
								(598)mrgnRtParam TV 기준 마진율 : 10%, srcgMdmCdParam : 11, siteNoParam : 6<br />
								TARGET_WAS , system.was.target = 'real'<br />
								getGoodsAddMgmtSn : 연동불가 시작 끝 조회 (상품추가관리 히스토리 일련번호 대입) <br />
								getBatchStartDtime<br />
							</li>
							<li>

							</li>
						</ol>
					</div>
					<div class="con" data-ng-show="site.idx == 2">
						<h3>{{site.base[site.idx - 1].site_nm}}</h3>
					</div>
					<div class="con" data-ng-show="site.idx == 3">
						<h3>{{site.base[site.idx - 1].site_nm}}</h3>
					</div>
					<div class="con" data-ng-show="site.idx == 4">
						<h3>{{site.base[site.idx - 1].site_nm}}</h3>
					</div>
				</div>
				<div class="rightWrap">
					<h2>Cc Site</h2>
					<table class="batch">
						<colgroup>
							<col width="50" />
							<col width="*" />
							<col width="*" />
							<col width="*" />
						</colgroup>
						<tr>
							<th>번호</th>
							<th>이름</th>
							<th>협력사번호</th>
							<th>협력사계약번호</th>
						</tr>
						<tr data-ng-repeat="(idx,i) in site.cc">
							<td class="tc no">{{i.site_no}}</td>
							<td>{{i.site_nm}}</td>
							<td>{{i.entr_no}}</td>
							<td>{{i.entr_contr_no}}</td>
						</tr>
					</table>
				</div>

			</div>
		</div>
	</div>
</div>
<div data-kaisa-footer="true"></div>
</body>
</html>