@charset "utf-8";

#work {width:100%; overflow:hidden; clear:both;}
#work dl {display:block; width:25%; float:left; overflow:hidden; padding:5px; position:relative; z-index:1;}
#work dl dt {font-size:0; overflow:hidden; background:rgba(0,0,0,0.01); cursor:pointer; padding-top:56%; position:relative; z-index:2; border:0 solid #fff; box-shadow:1px 1px 4px rgba(0,0,0,0.1);} /* -webkit-filter:grayscale(100%); */
#work dl dt img {vertical-align:bottom; width:100%; height:100%; position:absolute; z-index:1; left:0; top:0; border:1px solid #eee;} /* -webkit-box-reflect:below 0px -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), color-stop(0.4, transparent), to(rgba(255, 255, 255, 0.2)));*/
#work dl:hover dt > img {width:120%; margin:-5% 0 0 -10%;}
#work dl:hover dt span.link {opacity:1; bottom:10px;}
#work dl.off {opacity:0.3;}
#work dl.on {opacity:1;}
#work dl.on dt span.link {opacity:1; bottom:10px;}
#work dl.on dt > img {width:100%; margin:0;}
#work dl dd {font-size:11px; display:none;}
#work dl dd a {color:#777;}
#work dl dd span {font-size:11px; color:#555;}

#work_clone {width:640px; height:360px; margin:-180px 0 0 -320px; background:rgba(255,255,255,0.2); left:50%; top:50%; position:fixed; display:none; z-index:300;}
#work_clone.on{display:block;}
#work_clone img {width:100%;}
#work_clone dt {height:100%;}
#work_clone dt img {box-shadow:0 0 10px 1px rgba(255,255,255,0.5);}
#work_clone dd {position:absolute; left:0; top:-20px; color:#fff;}
#work_clone dd a {color:#fff;}
#work_clone .prev {position:absolute; left:-50px; top:50%; margin-top:-25px; width:50px; height:50px; cursor:pointer;}
#work_clone .next {position:absolute; right:-50px; top:50%; margin-top:-25px; width:50px; height:50px; cursor:pointer;}

@media screen and (max-width:800px) {
	#work dl  {width:50%;}
    #work_clone {width:640px; height:360px; margin:-180px 0 0 -320px;}
}
@media screen and (max-width:640px) {
    #work_clone {width:320px; height:180px; margin:-90px 0 0 -160px;}
}
@media screen and (max-width:400px) {
    #work_clone {width:220px; height:124px; margin:-62px 0 0 -110px;}
}
