<div>
	<iframe class="excelFrame" id="{{model.name + 'ExcelFrame'}}"></iframe>
	<div class="gridWrap {{model.name}}" data-ng-style="{height : model.height}" data-ng-click="model.gridClick($event)" data-ng-mousemove="model.mouseMove($event)" data-ng-mouseup="model.mouseUp($event)" data-ng-mouseleave="model.mouseLeave($event)">
		<div class="layerSelected" data-ng-style="model.layerSelected" data-ng-dblclick="model.colDoubleClick()"></div>
		<table class="gridT {{model.name}}">
			<thead>
				<tr data-grid-row="-1">
					<th data-grid-col="{{colIdx}}" data-ng-repeat="(colIdx, chead) in model.header" data-ng-class="{required : chead.required , down : model.orderBy == chead.key , up : model.orderBy == '-' + chead.key}">
						<label data-ng-if="chead.key == 'SELECTED'"><input type="checkbox" data-ng-model="model.allCheck" data-ng-change="model.colAllCheck()"></label>
						<span data-ng-if="chead.key != 'SELECTED'" data-ng-bind-html="chead.name | trustHtml"></span>
						<span data-ng-if="model.total != 0 && chead.sort" class="sorting" data-ng-click=" model.sorting(chead.key)"></span>
						<div class="colWidth" data-ng-style="{width: chead.width}"></div>
						<em class="colResize" data-ng-mousedown="model.colResizeMousedown($event,chead)"></em>
					</th>
				</tr>
			</thead>
			<tbody data-ng-if="!loading.active && model.data.length == 0">
				<tr>
					<td class="noData" colspan="{{model.header.length}}"><p style="position:absolute; left:50%; top:50%; width:400px; margin:0 0 0 -200px;">검색 된 데이터가 없습니다.</p></td>
				</tr>
			</tbody>
			<tbody data-ng-if="model.data.length != 0">
				<tr data-grid-row="{{rowIdx}}" data-ng-class="{select : model.selectedKey == 'ROW' && model.selectedRow == rowIdx, on : cdata.CRUD == 'U' && cdata.SELECTED, off :cdata.CRUD == 'D', new : cdata.CRUD == 'C'}" data-ng-repeat="(rowIdx,cdata) in model.data | orderBy:model.orderBy">
					<td data-grid-col="{{colIdx}}" data-grid-row="{{rowIdx}}" data-ng-class="{tc : chead.align == 'center',tr : chead.align == 'right', selected : model.selectedCol == colIdx && model.selectedRow == rowIdx}" data-ng-repeat="(colIdx, chead) in model.header" data-ng-if="chead.visible" data-ng-click="model.colClick(chead.key, colIdx, rowIdx)" data-ng-init="cdata.col = colIdx" data-ng-dblclick="model.colDoubleClick(cdata)" data-ng-mouseover="model.colMouseOver(chead.key, colIdx, rowIdx)"  data-ng-mouseout="model.colMouseOut()">
						<div class="switch" data-ng-switch="chead.key">
							<div class="when" data-ng-switch-when="ROW">
								<label class="row" data-ng-click="model.colClick(chead.key, -1, rowIdx)">{{rowIdx}}</label>
							</div>
							<div class="when" data-ng-switch-when="CRUD">
								<label class="row">{{cdata[chead.key] | CRUD}}</label>
							</div>
							<div class="when" data-ng-switch-when="SELECTED">
								<label><input type="checkbox" data-ng-model="cdata.SELECTED" data-ng-change="model.colCheck()" data-ng-checked="cdata.SELECTED"></label>
							</div>
			 				<div class="when" data-ng-switch-default="true">
			 					<span data-ng-if="(cdata.CRUD != 'U' && cdata.CRUD != 'C')" data-ng-switch="chead.type">
				  					<label data-ng-switch-when="Combo">
				  						<!-- select -->
				  						<select data-ng-model="cdata[chead.key]" data-ng-value="cdata[chead.key]" data-ng-options="k.value as k.name for k in chead.options" data-ng-disabled="true"></select>
				  					</label>
				  					<label data-ng-switch-default="true">
				  						{{cdata[chead.key]}}
				  					</label>
								</span>
			 					<span data-ng-if="(cdata.CRUD == 'U' || cdata.CRUD == 'C') && cdata.SELECTED" data-ng-switch="chead.type">
				  					<label data-ng-switch-when="String">
				  						<input data-ng-model="cdata[chead.key]" maxlength="{{chead.length}}" type="text" data-ng-disabled="chead.disabled">
				  					</label>
				  					<label data-ng-switch-when="Image">
				  						<input data-ng-model="cdata[chead.key]" maxlength="{{chead.length}}" type="text" data-ng-disabled="chead.disabled">
				  					</label>
				  					<label data-ng-switch-when="Date">
				  						<input data-ng-model="cdata[chead.key]" maxlength="{{chead.length}}" type="text" class="date" data-ng-disabled="chead.disabled">
				  						<span class="buttonDate" data-ng-click="model.gridDatepicker(chead.key,rowIdx,colIdx,$event)"></span>
				  					</label>
				  					<label data-ng-switch-when="Number">
				  						<input data-ng-model="cdata[chead.key]" maxlength="{{chead.length}}" data-max-number="{{chead.maxNumber}}" type="text" data-ng-disabled="chead.disabled">
				  					</label>
				  					<label data-ng-switch-when="Combo">
				  						<!-- select -->
				  						<select data-ng-model="cdata[chead.key]" data-ng-value="cdata[chead.key]" data-ng-options="k.value as k.name for k in chead.options" data-ng-disabled="chead.disabled"></select>
				  					</label>
								</span>
							</div>
						</div>
						
						<em class="colResize" data-ng-mousedown="model.colResizeMousedown($event,chead)"></em>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<p class="txt_grid_message" data-ng-bind-html="model.message | trustHtml"></p>
</div>