<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>:: Test ::</title>
<meta http-equiv="Imagetoolbar" content="no">
<link rel="stylesheet" href="css/work.css" type="text/css" media="all">
<link rel="stylesheet" href="css/print.css" type="text/css" media="print">
<script type="text/javascript" src="js/common.js"></script>
<script type="text/javascript" src="js/flashX.js"></script>
</head>
<body>
<div style="z-index:100; width:262; height:194px; position:absolute; left:814px; top:67px;"><img src="images/work/test_mdiTab.gif" width="262" height="194"></div>
<div id="Container">
	<div id="Top">
		<div class="logo"></div>
		<div class="topTab">
			<ul>
				<li><img src="images/work/btn_top01off.gif" alt=""></li>
				<li><img src="images/work/btn_top02on.gif" alt=""></li>
			</ul>
		</div>
		<div class="topGlobal">
			<ul>
				<li>04월 23일</li>
				<li class="pl10"><img src="images/work/icon_personal.gif" alt="" align="absmiddle"></li>
				<li>홍길동님</li>				
				<li class="pl10"><img src="images/work/btn_global01.gif" alt="" align="absmiddle"></li>
				<li><img src="images/work/btn_global02.gif" alt="" align="absmiddle"></li>
				<li><img src="images/work/btn_global03.gif" alt="" align="absmiddle"></li>
				<li><img src="images/work/btn_global04.gif" alt="" align="absmiddle"></li>
			</ul>
		</div>
		<div class="topBar">
			<div class="search">
				<select><option>통합검색</option></select>
				<input class="inputSearch" style="width:92px;">
				<a href="#"><img src="images/work/btn_search.gif" alt="" align="absmiddle"></a>
			</div>
			<div class="mdiBtn">
				<img src="images/work/btn_mdiTest.gif" alt="">
			</div>
		</div>
	</div>
	<div id="ContentWrap">
		<div id="Left">
			<div class="leftTab">
				<ul>
					<li><a href="#"><img src="images/work/btn_left01on.gif" alt=""></a></li>
					<li><a href="#"><img src="images/work/btn_left02off.gif" alt=""></a></li>
					<li><a href="#"><img src="images/work/btn_left03off.gif" alt=""></a></li>
					<li><a href="#"><img src="images/work/btn_left04off.gif" alt=""></a></li>
				</ul>
			</div>
			<div class="leftTop"></div>
			<div class="leftCon">
				<div class="leftTitle">
					개인메뉴
					<div class="leftSubTitle"><a href="#"><img src="images/work/btn_myMenu.gif" alt="" align="absmiddle"></a></div>
					<!-- 메뉴설정 -->
					<div class="menuEdit">
						<div class="on"><a href="#">개인메뉴</a></div>
						<div class="off"><a href="#">메뉴배포</a></div>
					</div>
					<!--// 메뉴설정 -->
				</div>				
				<div class="leftConCon"><img src="images/work/test_tree.gif"></div>
				
				<div class="leftLine"></div>
				<div class="leftTitle">
					나의작업목록
					<div class="leftSubTitle">
						<ul>
							<li><a href="#"><img src="images/work/btn_leftIcon01.gif" alt=""></a></li>
							<li><a href="#"><img src="images/work/btn_leftIcon02.gif" alt=""></a></li>
							<li><a href="#"><img src="images/work/btn_leftIcon03.gif" alt=""></a></li>
							<li><a href="#"><img src="images/work/btn_leftIcon04.gif" alt=""></a></li>
							<li><a href="#"><img src="images/work/btn_leftIcon05.gif" alt=""></a></li>
						</ul>
					</div>
				</div>
				<div class="leftConCon">111</div>
				
				<div class="leftLine"></div>
				<div class="leftTitle">
					나의확인목록
					<div class="leftSubTitle">
						<ul>
							<li><a href="#"><img src="images/work/btn_leftIcon01.gif" alt=""></a></li>
							<li><a href="#"><img src="images/work/btn_leftIcon02.gif" alt=""></a></li>
							<li><a href="#"><img src="images/work/btn_leftIcon03.gif" alt=""></a></li>
							<li><a href="#"><img src="images/work/btn_leftIcon04.gif" alt=""></a></li>
							<li><a href="#"><img src="images/work/btn_leftIcon05.gif" alt=""></a></li>
						</ul>
					</div>
				</div>
				<div class="leftConCon">111</div>
			</div>			
			<div class="leftBottom"></div>
		</div>
		<div id="Content">
			<div class="contentTab">
				<img src="images/work/btn_mdiTabTest.gif" alt="">
			</div>
			<div class="contentTop"></div>
			<div class="contentCon">
				<img src="images/work/test_xrw.gif" width="1000" height="734" alt="">
			</div>
			<div class="contentBottom">
				<img src="images/work/icon_info.gif" alt="" align="absmiddle"> 정상적으로 처리되었습니다.
			</div>
		</div>
	</div>
</div>
</body>
</html>