@charset "utf-8";

#compare {width:100%; overflow:hidden; clear:both; height:100%;}
#compare .box {height:460px; width:25%; float:left; margin-right:-1px;}
#compare textarea {height:400px; border:1px solid #ccc;}
#compare textarea[readonly="readonly"] {background:#f9f9f9;}

