@charset "utf-8";

/* swipe */
.kaisaSwipe {width:320px; overflow:hidden; position:relative; height:200px;}
.kaisaSwipe ul {white-space:nowrap; font-size:0; position:absolute; left:0; top:0; z-index:1;}
.kaisaSwipe ul li {width:320px; display:inline-block; height:200px; background:#eee; border:1px solid #ddd; font-size:12px;}
.kaisaSwipe ol {white-space:nowrap; text-align:center; font-size:0; position:absolute; left:0; width:100%; bottom:0; z-index:2;}
.kaisaSwipe ol li {display:inline-block; width:10px; height:10px; border-radius:100%; background:#aaa; margin:0 3px;}
.kaisaSwipe ol li.on {background:#000;}
.kaisaSwipe .paging {position:absolute; left:0; bottom:0; z-index:2; display:none;}
.kaisaSwipe .prev {position:absolute; left:0; top:50%; z-index:2;}
.kaisaSwipe .next {position:absolute; right:0; top:50%; z-index:2;}

.kaisaSwipeMenu {width:320px; overflow:hidden; position:relative; height:200px;}
.kaisaSwipeMenu ul {white-space:nowrap; font-size:0; position:absolute; left:0; top:0; z-index:1;}
.kaisaSwipeMenu ul li {display:inline-block; background:#eee; border:1px solid #ddd; font-size:12px; padding:5px 20px;}
.kaisaSwipeMenu ul li.on {color:#fff; background:#aaa;}
